{% load static %}

<div class="hm_footer_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="hm_footer_box">
                            <img src="http://placehold.it/139x69" alt="handmade-craft-logo" class="img-responsive">
                            <p class="footer_about_para">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="hm_footer_box">
                            <h3 class="footer_heading">Help</h3>
                            <ul>
                                <li><a href="#">Find Your Beer</a></li>
                                <li><a href="#">Customer Service</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Recent Orders</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="hm_footer_box">
                            <h3 class="footer_heading">links</h3>
                            <ul>
                                <li><a href="index.html">home</a></li>
                                <li><a href="shop.html">shop</a></li>
                                <li><a href="404.html">404 page</a></li>
                                <li><a href="javascript:;">login</a></li>
                            </ul>
                        </div>
                    </div>
                     <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="hm_footer_box hm_footer_contact">
                            <h3 class="footer_heading">Our Information</h3>
                            <ul>
                                <li>
                                    <div class="hm_footer_information">
                                        <span class="footer_icon"><i class="fa fa-map-marker" aria-hidden="true"></i> </span>
                                    <p class="foo_con_para">787 Lakeview St. Marion, NC 28752</p>
                                    </div>

                                </li>
                                <li>
                                    <div class="hm_footer_information"><span class="footer_icon"><i class="fa fa-phone" aria-hidden="true"></i> </span>
                                    <p class="foo_con_para">+1800123654789 +1800123456788</p></div>

                                </li>
                                <li>
                                    <div class="hm_footer_information">
                                        <a href="mailto:jhini.mehta@gmail.com"><span class="footer_icon"><i class="fa fa-envelope" aria-hidden="true"></i> </span><p class="foo_con_para">support@handmade.net</p></a>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>