{% load static %}


<div class="hm_testimonial_wrapper">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<h1 class="hm_heading"><span class="hm_color">Our</span> happy customers</h1>
					</div>
				</div>
				<div class="row">
					<div class="hm_test_inner">
						<div class="col-lg-4 col-md-4">
							<div class="hm_testi_box">
								<div class="hm_test_img">
									<img src="http://placehold.it/70x70" alt="handmade-craft-customer1" class="img-responsive" />
								</div>
								<h2>Hilpton Broad</h2>
								<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of cla ssical Latin literature from 45 BC, making it over 2000 years old. </p>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="hm_testi_box">
								<div class="hm_test_img">
									<img src="http://placehold.it/70x70" alt="handmade-craft-customer2" class="img-responsive" />
								</div>
								<h2>Stive Philips</h2>
								<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of cla ssical Latin literature from 45 BC, making it over 2000 years old. </p>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="hm_testi_box">
								<div class="hm_test_img">
									<img src="http://placehold.it/70x70" alt="handmade-craft-customer3" class="img-responsive" />
								</div>
								<h2>James Carlo</h2>
								<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of cla ssical Latin literature from 45 BC, making it over 2000 years old. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>