.idea
.idea/misc.xml
.idea/course-stream-django.iml
*.jpg
*.png
*.webp
*.sqlite3
/node_modules/
.env
.gitignore
*.mp4
*.zip
/migrations/
*.svg
/staticfiles
/migrations
/event_manager/migrations
leads/migrations
/migrations/
/ManageTrello/migrations/
/ManageWhatsappOld/migrations/
/website_workshop/migrations/
*.mov
note_server.txt
.gitignore
/__MACOSX/
/website/template/ref_html_template/__MACOSX/
