{% load static %}


<div class="hm_arrivals_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h1 class="hm_heading hm_heading_01"><span class="hm_color">Our</span> New Arrivals</h1>
                    </div>
                </div>
                <div class="row">

                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="new_pro_box">
                                    <div class="new_pro_img">
                                        <img src="https://placehold.co/366x301/cccccc/000000?text=Image+366x301" alt="handmade-craft-arrivals1" class="img-responsive">
                                    </div>
                                    <div class="new_pro_data">
                                        <h3><a href="shop-single.html">Jellied eels.</a></h3>
                                        <p>orem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                        <div class="new_pro_data_dollar">
                                           <span class="pro_price">$12 Only</span>
                                        <span class="cart_icon"><a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--2-->
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="new_pro_box">
                                    <div class="new_pro_data">
                                        <h3><a href="shop-single.html">Deep fried pomfret.</a></h3>
                                        <p>orem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                         <div class="new_pro_data_dollar">
                                            <span class="pro_price">$16 Only</span>
                                        <span class="cart_icon"><a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></span>
                                         </div>

                                    </div>
                                    <div class="new_pro_img">
                                        <img src="https://placehold.co/366x301/cccccc/000000?text=Image+366x301" alt="handmade-craft-arrivals2" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                            <!--3-->
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="new_pro_box">
                                    <div class="new_pro_img">
                                        <img src="https://placehold.co/366x301/cccccc/000000?text=Image+366x301" alt="handmade-craft-arrivals3" class="img-responsive">
                                    </div>
                                    <div class="new_pro_data">
                                        <h3><a href="shop-single.html">Marinated swordfish</a></h3>
                                        <p>orem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                         <div class="new_pro_data_dollar">
                                            <span class="pro_price">$12 Only</span>
                                        <span class="cart_icon"><a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></span>
                                         </div>

                                    </div>
                                </div>
                            </div>
                            <!--4-->
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="new_pro_box">
                                    <div class="new_pro_img">
                                        <img src="https://placehold.co/366x301/cccccc/000000?text=Image+366x301" alt="handmade-craft-arrivals4" class="img-responsive">
                                    </div>
                                    <div class="new_pro_data">
                                        <h3><a href="shop-single.html">Jellied</a></h3>
                                        <p>orem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                        <div class="new_pro_data_dollar">
                                            <span class="pro_price">$18 Only</span>
                                        <span class="cart_icon"><a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--5-->
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="new_pro_box">
                                    <div class="new_pro_data">
                                        <h3><a href="shop-single.html">Salmon</a></h3>
                                        <p>orem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                        <div class="new_pro_data_dollar">
                                             <span class="pro_price">$16 Only</span>
                                        <span class="cart_icon"><a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></span>
                                        </div>

                                    </div>
                                    <div class="new_pro_img">
                                        <img src="https://placehold.co/366x301/cccccc/000000?text=Image+366x301" alt="handmade-craft-arrivals5" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                            <!--6-->
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="new_pro_box">
                                    <div class="new_pro_img">
                                        <img src="https://placehold.co/366x301/cccccc/000000?text=Image+366x301" alt="handmade-craft-arrivals6" class="img-responsive">
                                    </div>
                                    <div class="new_pro_data">
                                        <h3><a href="shop-single.html">Salmon roe.</a></h3>
                                        <p>orem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                           <div class="new_pro_data_dollar">
                                             <span class="pro_price">$20 Only</span>
                                        <span class="cart_icon"><a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></span>
                                           </div>

                                    </div>
                                </div>
                            </div>

                    </div>
            </div>
        </div>