{% load static %}

<div class="hm_menu_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="hm_logo">
                    <a href="index.html"><img src="http://placehold.co/139x69" alt="handmade-craft-logo"
                                              class="img-responsive"></a>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="hm_menu_wrap">
                    <nav>
                        <div class="menu_btn"><span></span><span></span><span></span></div>
                        <div class="hm_menu">
                            <ul>
                                <li class="active dropdown"><a href="javacsript:;">home</a>
                                    <ul class="sub-menu">
                                        <li><a href="home-style1.html">home style1</a></li>
                                        <li><a href="home-style2.html">home style2</a></li>
                                        <li><a href="home-style3.html">home style3</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">about</a></li>
                                <li><a href="services.html">services</a></li>
                                <li class="dropdown"><a href="javacsript:;">gallery</a>
                                    <ul class="sub-menu">
                                        <li><a href="gallery-3-column.html">gallery 3 column</a></li>
                                        <li><a href="gallery-4-column.html">gallery 4 column</a></li>
                                        <li><a href="gallery-fullwidth.html">gallery full width</a></li>
                                        <li><a href="gallery.html">gallery masonry</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="javascript:;">blog</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog-two-column.html">blog two column</a></li>
                                        <li><a href="blog-three-column.html">blog three column</a></li>
                                        <li><a href="blog-single.html">blog single</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="javascript:;">shop</a>
                                    <ul class="sub-menu">
                                        <li><a href="shop.html">shop</a></li>
                                        <li><a href="shop-single.html">shop single</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">contact</a></li>
                            </ul>
                        </div>
                    </nav>
                    <div class="hm_header_search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <div class="hm_search_box">
                            <div class="icon_close">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </div>
                            <form>
                                <input type="search" name="search" placeholder="Search here...">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
