 {% load static %}

<div class="hm_news_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h1 class="hm_heading hm_heading_01"><span class="hm_color">Our </span>latest blog</h1>
                    </div>
                </div>
                <div class="row">

                        <div class="col-lg-4 col-md-12">
                            <div class="hm_news_box">
                                <div class="hm_news_img">
                                    <img src="http://placehold.it/366x301" alt="handmade-craft-blog1" class="img-responsive">
                                    <div class="news_img_overlay"></div>
                                    <div class="overlay_buttons">
                                        <a class="popup-iframe" href="https://www.youtube.com/watch?v=KAQjLTjW-dM"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="hm_news_data">
                                    <h3><a href="blog-single.html">Inteligent Transitions In Design</a></h3>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> admin</a></li>
                                        <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> 12 june 2021</a></li>
                                        <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>picture</a></li>
                                    </ul>
                                    <p>Pleasure and praising pain was born and will give you a complete account of the systems, and expound the actual teaching.</p>
                                    <a href="#" class="news_btn">read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <div class="hm_news_big_post">
                                <img src="http://placehold.it/756x505" alt="handmade-craft-blog" class="img-responsive" />
                                <div class="hm_blog_overlay_data">
                                    <div class="news_data">
                                        <span class="hm_blog_date">13 june 2021</span>
                                        <h2><a href="blog-single.html">standard blog post</a></h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et do lore magna aliqua.Lonsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                        <div class="blog_admin">Posted by <span class="hm_color">william harry</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="hm_news_box">
                                <div class="hm_news_img">
                                    <img src="http://placehold.it/366x301" alt="handmade-craft-blog2" class="img-responsive">
                                    <div class="news_img_overlay"></div>
                                    <div class="overlay_buttons">
                                        <a class="popup-news-gallery" href="http://placehold.it/756x505"><i class="fa fa-search" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="hm_news_data">
                                    <h3><a href="blog-single.html">DIY Matisse</a></h3>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> admin</a></li>
                                        <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> 12 june 2021</a></li>
                                        <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>picture</a></li>
                                    </ul>
                                    <p>Pleasure and praising pain was born and will give you a complete account of the systems, and expound the actual teaching.</p>
                                    <a href="#" class="news_btn">read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="hm_news_box">
                                <div class="hm_news_img">
                                    <img src="http://placehold.it/366x301" alt="handmade-craft-blog3" class="img-responsive">
                                    <div class="news_img_overlay"></div>
                                    <div class="overlay_buttons">
                                        <a class="popup-news-gallery" href="http://placehold.it/756x505"><i class="fa fa-search" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="hm_news_data">
                                    <h3><a href="blog-single.html">Creating Art Spaces For Kids</a></h3>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> admin</a></li>
                                        <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> 12 june 2021</a></li>
                                        <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>picture</a></li>
                                    </ul>
                                    <p>Pleasure and praising pain was born and will give you a complete account of the systems, and expound the actual teaching.</p>
                                    <a href="#" class="news_btn">read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="hm_news_box">
                                <div class="hm_news_img">
                                    <img src="http://placehold.it/366x301" alt="handmade-craft-blog4" class="img-responsive">
                                    <div class="news_img_overlay"></div>
                                    <div class="overlay_buttons">
                                        <a class="popup-news-gallery" href="http://placehold.it/756x505"><i class="fa fa-search" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="hm_news_data">
                                    <h3><a href="blog-single.html">Illuminated Accessories</a></h3>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> admin</a></li>
                                        <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> 12 june 2021</a></li>
                                        <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>picture</a></li>
                                    </ul>
                                    <p>Pleasure and praising pain was born and will give you a complete account of the systems, and expound the actual teaching.</p>
                                    <a href="#" class="news_btn">read more</a>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
        </div>