{% load static %}


<div class="hm_bottom_footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <p>Copyrights &copy; Made By ZONEX</p>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <ul class="footer_so_icons">
                            <li><a href="https://www.instagram.com/lumieresrabat/"><i class="fa fa-insta" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/lumiereacademy/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.tripadvisor.fr/Attraction_Review-g293736-d27485379-Reviews-Lumieres_Academy-Rabat_Rabat_Sale_Kenitra.html"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>