 {% load static %}


<div class="contact_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 ">
                        <div class="contact_box ">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <h2>email</h2>
                            <p><a href="#">spartenariat@lumiereacademy.com</a></p>
                     <!--<p><a href="#">support@handmade.com</a></p>-->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="contact_box">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <h2>phone</h2>
                            <p>+212 8085-44450</p>
                        <!--<p>+214567893218</p>-->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="contact_box">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <h2>address</h2>
                            <p>N° 18 Rue Patrice Lumumba, <br> Rabat 10000, Maroc</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>