{% load static %}

<div class="hm_footer_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="hm_footer_box">
                            <img src="{% static 'assets/images/logo.png' %}" alt="" class="img-responsive">
                            <p class="footer_about_para">Offrez une touche de magie et de douceur avec nos bouquets de bougies uniques ! Commandez dès maintenant pour illuminer vos moments spéciaux.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="hm_footer_box">
                            <h3 class="footer_heading">Support</h3>
                            <ul>
                                <!--<li><a href="#">Find Your Beer</a></li>-->
                                <li><a href="tel:+212600112233">Service Client </a></li>
                                <li><a href="#">Contact</a></li>
                                 <!--<li><a href="#">Recent Orders</a></li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="hm_footer_box">
                            <h3 class="footer_heading">Liens</h3>
                            <ul>
                                <li><a href="{% url 'views_home' %}">Accueil </a></li>
                                <li><a href="shop.html">Condition d'utilisation</a></li>
                                <!--<li><a href="404.html">404 page</a></li>-->
                                <!--<li><a href="javascript:;">login</a></li>-->
                            </ul>
                        </div>
                    </div>
                     <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="hm_footer_box hm_footer_contact">
                            <h3 class="footer_heading">Nos Informations</h3>
                            <ul>
                                <li>
                                    <div class="hm_footer_information">
                                        <span class="footer_icon"><i class="fa fa-map-marker" aria-hidden="true"></i> </span>
                                        <a href="https://g.co/kgs/S9wv4iB" class="foo_con_para">N° 18 Rue Patrice Lumumba, <br> Rabat 10000, Maroc</a>
                                    </div>

                                </li>
                                <li>
                                    <div class="hm_footer_information"><span class="footer_icon"><i class="fa fa-phone" aria-hidden="true"></i> </span>
                                    <a href="tel:+212808544450" class="foo_con_para">+212 8085-44450</a></div>

                                </li>
                                <li>
                                    <div class="hm_footer_information">
                                        <a href="mailto:partenariat@lumiereacademy.com"><span class="footer_icon"><i class="fa fa-envelope" aria-hidden="true"></i> </span><p class="foo_con_para">partenariat@lumiereacademy.com</p></a>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>