{% load static %}

<div class="hm_header_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-6">
                        <div class="hm_logo">
                            <a href="index.html"><img  src="{% static 'handicraft/assets/images/logo.png' %}" alt="" class="img-responsive"></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="hm_top_Search_main">
                            <div class="hm_top_search">
                            <input type="search" name="search">
                            <span class="search_icon"><i class="fa fa-search" aria-hidden="true"></i></span>
                            </div>
                            <div class="menu_btn"><span></span><span></span><span></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hm_header_overlay"></div> </div>