{% load static %}


<div class="hm_login_form_overlay">
            <div class="hm_login_form">
                <div class="hm_login_header">
                    <h1>login form</h1>
                    <span class="login_close"><i class="fa fa-times" aria-hidden="true"></i></span>
                </div>
                <div class="login_fields">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="u-name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="pass" placeholder="Password">
                        </div>
                        <div class="form_btn">
                            <a href="#" class="hm_btn"> login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>