{% load static %}

<div class="hm_top_info">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="hm_top_login">
                    <ul>
                        <li><a href="javascript:;" class="popup-with-form"><i class="fa fa-user" aria-hidden="true"></i>
                            login</a></li>
                        <li><a href="javascript:;" class="popup-signup-form"><i class="fa fa-pencil"
                                                                                aria-hidden="true"></i> register</a>
                        </li>
                        <li><a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i> checkout</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 pull-right">
                <div class="top_usd">
                    <div class="hm_top_wishlist">
                        <p><a href="#"><i class="fa fa-heart" aria-hidden="true"></i> Wishlist</a></p>
                    </div>
                    <div class="hm_top_usd">
                        <p><a href="javascript:;"><i class="fa fa-angle-down" aria-hidden="true"></i> usd</a></p>
                        <ul class="usd_dropmenu">
                            <li><a href="#">EUR - Euro</a></li>
                            <li><a href="#">USD - US Dollar</a></li>
                            <li><a href="#">GBP - British Pound</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
